:root {
  --texture-wood: url("../images/textures/wood.jpg");
  --grey: rgb(165, 139, 125);
  --grey-transparent: rgba(121, 128, 127, 0.205);
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* HEADER START */
.header-image-container {
  background-image: url("../images/main-image-3.jpeg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-device-width: 600px) {
  .header-image-container {
    background-attachment: scroll;
  }
}

.header-image {
  width: 100%;
}

#navbar-logo {
  max-height: 30px;
}

.navbar {
  display: flex;
  position: sticky;
  top: 0;
  background-color: var(--grey);
  opacity: 0.9;
  z-index: 3;
}

.navbar a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 2em;
  text-decoration: none;
  font-weight: bold;
  border: solid 1px var(--grey);
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}

.nav-link-title {
  color: rgb(255, 255, 255);
}

.navbar a:hover {
  background-color: var(--grey-transparent);

  transition-duration: .1s;
}

.navbar .toggle-icon {
  display: flex;
  visibility: hidden;
  position: absolute;
  opacity: 0;
}

@media screen and (max-width: 740px) {

  .main-container,
  .navbar {
    flex-direction: column;
  }

  .navbar a:nth-child(2), .navbar a:nth-child(3), .navbar a:nth-child(4) {
    visibility: hidden;
    position: absolute;
    opacity: 0;
  }

  .navbar a.toggle-icon {
    position: relative;
    visibility: visible;
    justify-content: flex-end;
    opacity: 1;
    color: rgb(255, 255, 255);
    font-size: 1.6em;
    padding: 0.5rem 0;
  }

  .navbar a:nth-child(2).responsive, .navbar a:nth-child(3).responsive, .navbar a:nth-child(4).responsive {
    position: relative;
    visibility: visible;
    opacity: 1;
    transition: all 0.5s;
  }

  .navbar a {
    border: none;
    border-radius: 0;
  }
}

@media screen and (max-width: 600px) {
.navbar a.active:first-child {
  background-color: var(--grey);
}

.navbar a.active span {
  color: rgb(255, 255, 255);
}
}

.navbar a.active {
  background-color: rgb(255, 255, 255);
}

.active span,
.active span i {
  color: rgb(106, 107, 168);
}

.active span:hover,
.active span i:hover {
  color: rgb(216, 137, 118);
}

ul {
  list-style: none;
}

.nav-symbol {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}
/* HEADER END */


/* HEADER CART ICON START */
.cart-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
}

.cart-icon span {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(50, 205, 50);
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  position: relative;
}

.cart-icon span::before {
  position: absolute;
  left: 35px;
  content: attr(data-counter);
  color: rgb(231, 225, 213);
  font-size: 0.5em;
}

.cart-icon span:hover {
  color: rgb(101, 203, 206);
}

@media screen and (max-width: 740px) {
  .cart-icon{
    position: absolute;
    top: 0;
    right: 0;
}
}
/* HEADER CART ICON END */
/* HEADER END */


/* FOOTER START */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 1em 1em;
  font-size: 0.8rem;
}

.footer p a {
  text-decoration: none;
}

.credit a {
  color: rgb(106, 107, 168);
  font-weight: 500;
}
/* FOOTER END */


/* INDEX BODY START */
.main-container,
.categories,
.catalog-container,
.intro {
  display: flex;
}

.main-container {
  flex: 1;
}

.categories {
  flex: 1 9 20%;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.catalog-container {
  flex: 1 1 70%;
  flex-wrap: wrap;
  padding: 2rem;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(66, 170, 66);
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  background-color: rgb(235, 234, 220);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
}

.catalog-item-image, .cart-page-item-img {
  width: 200px;
  height: 200px;
}

.catalog-item-link {
  text-decoration: none;
}

.catalog-item-name {
  color: rgb(255, 145, 0);
  font-size: 1.2em;
  text-shadow: 0 3px 3px rgba(255, 255, 255, 0.25);
}

.catalog-item-price {
  float: right;
  color: rgb(101, 153, 184);
  font-size: 1.3em;
  font-weight: bold;
}

.catalog-item-code {
  color: green;
}

.item-image {
  width: 100%;
  height: 100%;
}

.categories ul li a,
.categories ul a {
  text-decoration: none;
}

.categories-container {
  border-right: 6px rgb(0, 128, 128) solid;
  border-radius: 0 10px 10px 0;
  background-color: rgb(165, 139, 125);
  margin-top: 2rem;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 740px) {
  .categories-container {
    margin-right: 40%;
  }
}

.categories-title {
  font-size: 1.2em;
  text-align: center;
  padding: 1em;
  margin: 0;
  font-weight: bold;
  text-decoration: none;
  color: rgb(241, 241, 233);
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  background-color: rgb(205, 92, 92);
}

.success {
  padding-left: 1em;
}

ul.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-indent: 1em;
  font-weight: bold;
  list-style-type: none;
  padding: 0;
  text-shadow: 0 3px 3px rgba(255, 255, 255, 0.25);
}

.list li {
  padding: 1em 0;
}

.list li a {
  color: rgb(255, 255, 255);
}

.list:hover>li:not(:hover) {
  opacity: 0.5;
  transition-duration: 0.1s;
}

.list li:hover {
  background-color: rgba(193, 195, 199, 0.3);
  transition-duration: 0.1s;
}

.list li:hover a {
  color: rgb(252, 235, 83);
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
}

.intro {
  flex: 6 1 40%;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.home-title {
  font-size: 1.3em;
  text-align: center;
  padding: 1em 1em 0;
  margin: 0;
  font-weight: 400;
}

.home-title.slogan {
  font-style: italic;
  color: rgb(54, 218, 40);
  font-weight: 500;
}

.restore-title {
  font-size: 1.1em;
  text-align: center;
  padding: 1em 1em 0;
  margin: 0;
  font-weight: 400;
}

/* INDEX RETURN-TOP START */
.return-to-top-btn {
  display: none;
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgb(212, 214, 81);
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.25);
  color: rgb(129, 114, 114);
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

.return-to-top-btn:hover {
  background-color: rgb(85, 85, 85);
  color: rgb(255, 255, 255);
  transition-duration: 0.4s;
}
/* INDEX RETURN-TOP END */

/* INDEX FILTER START */
.price-filters {
  display: none;
  position: fixed;
  bottom: 50vh;
  right: 0vw;
  width: auto;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.25);
  background: rgb(255, 250, 205);
  cursor: pointer;
  border-radius: 10px;
  border: none;
  outline: none;
}

.price-sort {
  display: none;
  position: fixed;
  bottom: 25vh;
  right: 0vw;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border-radius: 10px;
  border: none;
  outline: none;
}

.price-filters-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-sort-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price-filter {
  background-color: rgb(81, 205, 214);
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.25);
  color: rgb(129, 114, 114);
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  outline: none;
}

.price-filter:hover {
  background-color: rgb(85, 85, 85);
  color: rgb(255, 255, 255);
  transition: all 1s;
}

.price-asc {
  background: rgb(173, 156, 218);
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.25);
  color: rgb(129, 114, 114);
  cursor: pointer;
  padding: 15px;
  margin: 0 0 0.3em;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  outline: none;
}

.price-asc:hover {
  background-color: rgb(85, 85, 85);
  color: rgb(255, 255, 255);
  transition: all 1s;
}

.price-dsc {
  background: rgb(173, 156, 218);
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.25);
  color: rgb(129, 114, 114);
  cursor: pointer;
  padding: 15px;
  margin: 0.3em 0 0;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  outline: none;
}

.price-dsc:hover {
  background-color: rgb(85, 85, 85);
  color: rgb(255, 255, 255);
  transition: all 1s;
}

.price-filter-output {
  color: rgb(100, 149, 192);
  margin: auto;
  font-size: 1.1em;
  font-weight: bold;
  width: 0px;
  text-align: end;
}

.price-range {
  width: 0px;
  padding: 0em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: width 1s;
}

.price-label {
  font-weight: bold;
  color: rgb(100, 149, 192);
}

/* SLIDER START */
.price-filter-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: rgb(211, 211, 211);
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

.price-filter-slider:hover {
  opacity: 1;
}

.price-filter-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 35px;
  background: rgb(221, 78, 102);
  cursor: pointer;
}

.price-filter-slider::-moz-range-thumb {
  width: 10px;
  height: 35px;
  background: rgb(221, 78, 102);
  cursor: pointer;
}
/* SLIDER END */

/* INDEX FILTER END */

/* ITEM CART ICON START */
div.add-cart-icon {
  margin: 1em 1em 0 auto;
}

div.add-cart-icon span {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(50, 205, 50);
  text-shadow: 0 5px 5px rgba(88, 88, 88, 0.25);
  position: relative;
}

div.add-cart-icon span::before {
  position: absolute;
  left: 35px;
  content: "+";
  color: rgb(199, 90, 109);
  font-size: 0.7em;
}

div.add-cart-icon i:active {
  transform: scale(1.2);
  transition-duration: 0.1s;
}

div.add-cart-icon span:hover {
  color: rgb(101, 203, 206);
  cursor: pointer;
  transition-duration: 0.4s;
}
/* ITEM CART ICON END */

/* ITEM PAGE START */
.item-container {
  display: flex;
  flex-direction: column;
  margin: 2em 1em;
  border-radius: 20px;
  padding: 1em;
  background-color: var(--grey);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
}

.item-title {
  color: rgb(255, 255, 255);
  text-align: center;
}

.item-description {
  margin: 1em;
}

.item-description p {
  font-style: italic;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.catalog-single-item {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(66, 170, 66);
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  background-color: rgb(235, 234, 220);
}

.item-inner-container {
  display: flex;
  border-radius: 20px;
}

@media screen and (max-width: 950px) {
  .item-inner-container {
    flex-direction: column;
  }

  .item-container {
    margin: 0;
  }
}
/* ITEM PAGE END */
/* INDEX BODY END */

/* LOGIN/FORGOT/REGISTRATION FORM START */
/*.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.login-item {
  color: rgb(255, 255, 255);
  padding: 1.5em 1.5em 0;
  margin: 1em 1em 0;
  border-radius: 3px;
}

.login-submit-btn,
.registration-submit-btn {
  max-width: 75%;
  margin: auto;
}

input {
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  transition: background-color .3s;
}

.form input[type="password"],
.form input[type="text"],
.form input[type="submit"] {
  width: 100%;
}

.form-login label,
.form-login input[type="text"],
.form-login input[type="password"],
.form-login input[type="submit"] {
  border-radius: 0.25rem;
  padding: 1rem;
  color: rgba(103, 129, 150, 0.8);
}

.form-login label {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border: solid rgb(106, 107, 168) 1px;
  border-right: none;
}

.form-login input[type="text"],
.form-login input[type="password"] {
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border: solid rgb(106, 107, 168) 1px;
}

.form-login input[type="text"]:focus,
.form-login input[type="text"]:hover,
.form-login input[type="password"]:focus,
.form-login input[type="password"]:hover {
  background-color: rgba(193, 195, 199, 0.3);
}

.form-login input[type="submit"] {
  background-color: rgb(101, 196, 105);
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
}

.form-login input[type="submit"]:focus,
.form-login input[type="submit"]:hover {
  background-color: rgb(45, 151, 68);
}

.form-field {
  display: flex;
  margin-bottom: 2rem;
}

.login-user {
  color: rgb(106, 107, 168);
  size: 1em;
}

.help a {
  color: var(--grey);
}*/
/* LOGIN/FORGOT/REGISTRATION FORM END */


/* CONTACTS START */
.address {
  font-style: normal;
}

.contacts-container {
  margin: 2em;
}

.contacts-container h2 {
  text-align: center;
  margin: 0;
  color: green;
}

.contacts-inner-container {
  display: flex;
}

.contacts-text-container {
  margin-top: 1em;
}

.sales-department-title {
  text-decoration: underline;
  display: block;
}

.map {
  margin-top: 1em;
  max-width: 95%;
}

.sales-department-phone,
.sales-department-email {
  color: rgb(106, 107, 168);
}

address p:nth-child(1) i {
  color: rgb(216, 137, 118);
}

address p:nth-child(2) i {
  color: rgb(45, 151, 68);
}

@media (max-width: 930px) {

  .contacts-inner-container {
    flex-direction: column;
  }

  .contacts-reply {
    margin-top: 4rem;
  }
}

/* CONTACTS FORM START */
.contacts-reply {
  position: relative;
  margin: 2rem 0 0 1rem;
  padding: 1rem 2rem 3rem;
  max-width: 500px;
  background-color: rgb(220, 227, 228);
  border-radius: 10px;
}

.contacts-reply input {
  border-radius: 5px;
  padding: 0.5rem;
}

.contacts-reply p:first-child {
  font-size: 1.2rem;
  color: rgb(123, 151, 228);
}

.contacts-reply p button {
  padding: 0.6rem;
  border-radius: 10px;
  background-color: rgb(154, 131, 235);
  color: white;
  font-weight: bold;
  outline: none;
  border: none;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.25);
}

.message-output {
  position: absolute;
  bottom: -5px;
  left: 20px;
  color: rgb(31, 161, 31);
  font-weight: bold;
}
/* CONTACTS FORM END */
/* CONTACTS END */


/* HISTORY START */
.history-inner-container {
  margin: 2em auto;
  max-width: 800px;
  background-color: var(--grey-transparent);
  padding: 1em;
  border-radius: 10px;
}

@media screen and (max-width: 870px) {
  .history-inner-container {
    margin: 2em 1em 1em;
  }
}

.history-images {
  max-width: 100%;
}

.text-indent {
  text-indent: 2em;
}

.history-title {
  margin-top: 0;
  font-size: 1.5em;
  text-align: center;
  font-variant-caps: small-caps;
  font-weight: 700;
  color: rgb(106, 107, 168);
  font-family: cursive;
}

.history-images.inventor {
  width: 250px;
}
/* HISTORY END */


/* CART PAGE START */
.cart-page-main-title {
  color: green;
  margin: 1em auto;
}

.cart-page-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cart-page-inner-container {
  display: inherit;
  flex-direction: column;
  border: solid 3px var(--grey);
  border-radius: 20px;
  margin: 0 auto;
  justify-content: center;
  max-width: 900px;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.25);
}

.cart-page-title {
  color: rgb(133, 133, 189);
  text-align: center;
}

.cart-page {
  display: inherit;
  width: 100%;
}

.cart-page-column {
  display: inherit;
  flex-direction: column;
  width: 35%;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1em 0;
  margin-bottom: 1em;
  text-align: center;
}

.cart-page-description-container,
.cart-page-item-container {
  display: inherit;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  width: 100%;
  font-weight: bold;
  font-size: 1em;
}

.cart-page-item {
  padding: 1em 1em 0;
}

.cart-page-item-description, .cart-page-item-price, .cart-page-item-quantity, .cart-page-item-code, .cart-page-item-price-total {
  color: rgb(143, 148, 141);
}

.cart-page-item-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-page-item-code {
  color: rgb(189, 163, 77);
}

.cart-submit-btn {
  background-color: rgb(80, 161, 167);
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 1em;
  padding: 1em;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  outline: none;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.cart-submit-btn:active {
  transform: scale(0.9);
  transition-duration: 0.1s;
}

.cart-submit-btn-confirm {
  background: green;
}

.cart-submit-btn-return {
  background: pink;
  color: black;
}

@media screen and (max-width: 920px) {
  .cart-page-inner-container {
    max-width: 90%;
  }

  .cart-page {
    flex-direction: column;
  }

  .cart-page-column {
    width: 100%;
  }

  .cart-page-item {
    padding: 1em 1em 0;
  }
}

/* CART TABLE START */
.container-table {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 20px;
}

.wrap-table {
  width: 960px;
  border-radius: 0 0 20px 20px;
  overflow: hidden;
}

.table {
  width: 100%;
  display: table;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .table {
    display: block;
  }
}

.row {
  display: table-row;
  background: rgb(255, 255, 255);
}

.row.header {
  color: rgb(255, 255, 255);
  background: rgb(254, 255, 182);
}

.row.header.total-header {
  color: rgb(255, 255, 255);
  background: var(--grey);
}

.row.header.total-header .cell {
  font-size: 1.5em;
  text-decoration: underline;
  text-shadow: none;
  color: white;
}


@media screen and (max-width: 768px) {
  .row {
    display: block;
  }

  .row.header, .row.header .cell {
    display: none;
  }

  .row .cell:before {
    font-size: 1.1em;
    font-weight: bold;
    color: rgb(124, 129, 177);
    background: rgb(254, 255, 182);
    line-height: 1.2;
    margin-bottom: 0.5em;
    content: attr(data-title);
    display: block;
  }
}

.cell {
  display: table-cell;
}

@media screen and (max-width: 768px) {
  .cell {
    display: block;
  }
}

.row .cell {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  padding: 1em 0 1em;
  border-bottom: 4px dashed lightcoral;
  text-align: center;
}

.row.header .cell, .table div.row:nth-last-child(4) .cell, .table div.row:nth-last-child(2) .cell, .table div.row:nth-last-child(1) .cell {
  border: none;
}

.row.total-row div:last-child {
  color: rgb(68, 175, 68);
  font-size: 1.4em;
}

.row.header .cell {
  font-size: 1.2em;
  color: rgb(133, 133, 189);
  font-weight: bold;
  line-height: 1.2;
  padding: 1em 0 1em;
}

@media (max-width: 768px) {
  .row {
    border-bottom: 4px dashed lightcoral;
    padding-bottom: 1em;
    margin: 0;
  }

  .row:last-child {
    border: none;
  }

  .row .cell {
    border: none;
    padding: 1em 0 1em;
    font-size: 1.1em;
    color: rgb(85, 85, 85);
    line-height: 1.2;
  }

  .row.total-row .cell:nth-child(1), .row.total-row .cell:nth-child(2), .row.send .cell:nth-child(1), .row.send .cell:nth-child(2) {
    display: none;
  }

  .row.total-row div:last-child::before {
    color: rgb(255, 255, 255);
    background: var(--grey);
    font-size: 1.2em;
  }

  .table div.row:nth-last-child(4), .table div.row:nth-last-child(2), .table div.row:nth-last-child(1) {
    border-bottom: none;
  }

  .table, .row, .cell {
    width: 100%;
  }
}

.item-substract, .item-add {
  margin: 1em;
  font-size: 1.3em;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(223, 223, 223);
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.45);
  cursor: pointer;
  outline: none;
}

.item-substract {
  background: rgb(226, 197, 67);
}

.item-add {
  background: rgb(43, 150, 43);
}

.item-delete {
  color: rgb(202, 86, 109);
  padding-right: 1.2em;
  font-size: 1.5em;
  text-shadow: 0 7px 7px rgba(0, 0, 0, 0.45);
  cursor: pointer;
  outline: none;
}

.deletion-animation {
  visibility: hidden;
  opacity: 0;
  transform: translate(-60px);
  transition: all 1s;
}
/*CART TABLE END */
/* CART PAGE END */

/* ORDER CART SUBMIT START */
.order-submit-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 30vw;
  color: rgb(143, 148, 141);
}

@media (max-width: 700px) {
  .order-submit-container {
    margin: 0 1em;
  }
}

@media (min-width: 701px) and (max-width: 900px) {
  .order-submit-container {
    margin: 0 20vw;
  }
}

.order-submit-main-title {
  text-align: center;
  color: rgb(0, 128, 0);
}

.order-submit-inner-container {
  display: inherit;
  flex-direction: column;
  border: solid 3px var(--grey);
  border-radius: 20px;
  justify-content: center;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.25);
}

.order-submit-inner-container h2 {
  text-align: center;
}

.order-form {
  margin: 0 auto;
}

.order-form input {
  border-radius: 5px;
  padding: 0.5rem;
  width: 250px;
}

.order-form p:first-child {
  font-size: 1.2rem;
  color: rgb(123, 151, 228);
}

.order-form p button {
  padding: 0.6rem;
  border-radius: 10px;
  float: right;
  background-color: rgb(154, 131, 235);
  color: white;
  font-weight: bold;
  outline: none;
  border: none;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.25);
}

.cart-summary-header {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  border-bottom: 3px pink dashed;
}

.cart-summary {
  display: flex;
  justify-content: space-around;
}

.cart-summary-totalprice {
  font-weight: bold;
  text-align: end;
  margin-right: 1em;
  color: rgb(68, 175, 68);
  font-size: 1.1em;
  margin-bottom: 1em;
}

.cart-summary-button-container {
  display: flex;
  justify-content: space-between;
  margin: 1em;
}
/* ORDER CART SUBMIT END */

/* DELIVERY & PAYMENT START */
.delivery-payment-container {
  margin: 2em 1em;
}

.delivery-payment-container h2 {
  color: green;
}

.payment-container,
.delivery-container {
  background-color: var(--grey-transparent);
  padding: 1em;
  border-radius: 10px;
  max-width: 800px;
}

.cash-title,
.non-cash-title,
.cash-title {
  color: rgb(34, 102, 93);
}

.cash-title i {
  font-size: 1.2em;
  color: rgb(216, 137, 118);
}

.non-cash-title i {
  font-size: 1.2em;
  color: rgb(45, 151, 68);
}

.delivery-container {
  margin-top: 3em;
}

.order-processing {
  max-width: 800px;
}

.order-processing ol {
  list-style: none;
  counter-reset: custom;
}

.order-processing ol li {
  counter-increment: custom;
}

.order-processing ol li::before {
  content: counter(custom) ". ";
  color: rgb(87, 89, 212);
  font-size: 1em;
  font-weight: bold;
  position: absolute;
  left: 35px;
}

.payment-cash ul li,
.payment-non-cash ul li,
.delivery-types ul li {
  margin: 1em 0 0 -1.5em;
  position: relative;
  list-style: none;
}

.payment-cash ul,
.payment-non-cash ul,
.delivery-types ul {
  list-style: circle;
}

.payment-cash ul li::before,
.payment-non-cash ul li::before,
.delivery-types ul li::before {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgb(87, 89, 212);
  position: absolute;
  left: -15px;
  top: 10px;
}

.icons-ukr-pochta {
  background: url("../images/sprites/ukrpochta.png") 100% no-repeat;
  background-size: 60%;
  position: absolute;
  top: -2px;
  left: 142px;
  width: 150px;
  height: 35px;
}

.icons-nova-pochta {
  background: url("../images/sprites/novapochta.png") 100% no-repeat;
  background-size: 70%;
  position: absolute;
  top: -5px;
  left: 47px;
  width: 150px;
  height: 35px;
}

.privat24 {
  background: url("../images/sprites/privat24.png") 100% no-repeat;
  background-size: 80%;
  position: absolute;
  top: -3px;
  left: 12px;
  width: 150px;
  height: 35px;
}
/* DELIVERY & PAYMENT END */


/* AGREEMENT START */
.agreement-inner-container {
  margin: 2em auto;
  max-width: 800px;
  background-color: var(--grey-transparent);
  padding: 1em;
  border-radius: 10px;
}

@media screen and (max-width: 870px) {
  .agreement-inner-container {
    margin: 2em 1em 1em;
  }
}

.text-indent {
  text-indent: 2em;
}

.agreement-title {
  margin-top: 0;
  font-size: 1.5em;
  text-align: center;
  font-variant-caps: small-caps;
  font-weight: 700;
  color: rgb(106, 107, 168);
  font-family: cursive;
}
/* AGREEMENT END */